body{
	font:17px/1.5 Arial, Helvetica,sans-serif;
	padding: 0px;

}

.container{
	width:100%;
	margin: auto;
	overflow: hidden;
}

header{
	height:130px;
	width:100%;
	padding-top:35px;

}

.main-header{
			text-align:center;
			height:100px;
			width:100%;
			margin:0px;
		}
#brandname{
	float:left;
	font-size:35px;
	color:  #5c44FF ;
	margin: 12px;
}


}
